<header>
    <div>
        <div class="menu_top">
            <a href=""><img id="logo" width="30%" src="\assets\imagens\LOGO.png"></a>
            <ul class="avatar2">
                <div id="campodebusca">
                    <input class="inpt" for="pesquisa" id="pesquisa" name="pesquisa" placeholder="Faça sua busca aqui..." maxlength="50" required autocomplete>
                    <img src="assets/imagens/pesquisa.png" id="busca" width="1%" alt="buscar">
                    <br><br>
                </div>
            </ul>
            <li class="dropdown">
                <a class="dropdown-toggle" href ="/login">
                <img class="imagemheader" id="logodoavatar" width="50%" src="assets/imagens/avatar.png">
            </a>

            <ul id="products-menu" class="dropdown-menu clearfix" role="menu">
                <li><a id="textcadas" class="overlay" href ="/login">Faça seu cadastro!</a></li>
            </ul>
        </li>
            <a href="" target="_blank" rel="noreferrer">
                <img class="imagemheader" width="40%" id="fone" src="\assets\imagens/fone.png">
            </a>
            <a href="" target="_blank" rel="noreferrer">
                <img class="imagemheader" id="carrinho" width="40%" src="\assets\imagens/cart.png">
            </a>
        </div>
        <nav id="menu" class="menu">
            <a href="">Destaques</a>
            <a href="#">Lançamentos</a>
            <a href="#">PC Gamer</a>
            <a href="#">Eletrônicos</a>
            <a href="#">Peças</a>
        </nav>
    </div>

</header>