        
                <!-- RODAPE -->

                <footer>
                    <div class="divfooter">
                            <h3 id="tituloinst">Institucional</h3>
                            <ul class="text">
                                <a href="#" class="text" id="faq">Sobre nós</a>
                                <a href="#" class="text" id="faq" >Política de Privacidade</a>
                                <a href="#" class="text" id="faq">Termos de Serviço</a>
                                <a href="#" class="text" id="faq">Formas de pagamento e envio</a>
                                <a href="#" class="text" id="faq">Garantia, troca e devolução</a>
                                <a href="#" class="text" id="faq">Fale conosco</a>
                            </ul>
                            <h3 id="tituloatend">Atendimento</h3>
                            <ul id="texto2">
                                <dd>(XX) XXXX-XXXX<br>
                                email@gamemania.com<br>
                                Segunda à sexta 7h- 18h<br>
                                Sábado 7h-13h</dd>
                            </ul>
                        <ul>
                            <h3 id="titulofaq">FAQ</h3>
                            <a href="" class="pergufaq" id="faq">FAQ - Orientações</a>
                        </ul>
                    </div>
                    <div>
                        <a href="#"><img src="assets/imagens/LOGO.png" id="logofooter"
                             alt="LOGO2"  style="float: right;">
                        </a>
                        <figure class="imgfooter">
                            <ul>
                                <a href="#tituloredes">
                                    <img src="assets/imagens/face.png" id="redesocial"
                                         alt="face redes" width="100%">
                                </a>
                                <a href="#">
                                    <img src="assets/imagens/linkdin.png" id="redesocial"
                                         alt="linkdin redes" width="100%">
                                </a>
                                <a href="#tituloredes">
                                    <img src="assets/imagens/twitter.png" id="redesocial"
                                         alt="twitter redes" width="100%">
                                </a>
                            </ul>
                            <ul>
                                <a href="#tituloredes">
                                    <img src="assets/imagens/insta.jfif" id="social"
                                         alt="insta redes" width="100%">
                                </a>
                                <a href="#tituloredes">
                                    <img src="assets/imagens/youtube.png" id="social"
                                         alt="youtube redes" width="100%">
                                </a>
                            </ul>
                        </figure>
                    </div>
                 </footer>