
<main id="cadastro">
    <div class="cabeca">
        <h1 id="titulo">Atualizar Usuário</h1>
    </div>
    <div>
        <div>
            <ul id="userbtn">
                <a id="title">Usuário</a>
                <input id="usuario" name="user" type="text" placeholder="seu user name">
            </ul>
            <ul id="emailbtn">
                <a id="title">Email</a>
                <input id="email" name="email" type="email" placeholder="seu email">
            </ul>
            <ul id="senhabtn">
                <a id="title">Senha</a>
                <input id="senha" name="senha" type="password" placeholder="sua senha">
            </ul>
        </div>
    </div>
    <div class="buttonsbtn">
        <button id="botao" type="button"><a>Atualizar</a></button>
        <button id="botao2" type="button"><a id="clik" href="">Cancelar</a></button>
        <button id="botao3" type="button"><a id="clik" href="/tabela">Todos os Cadastros</a></button>
    </div>
    <br><br><br><br><br>
</main>
