
<main id="cadastro">
    <div class="cabeca">
        <h1 id="titulo">Cadastre-se</h1>
        <small id="subtitulo">preencha o formulário!</small>
    </div>
    <div>
        <div>
            <ul id="userbtn">
                <a id="title">Usuário</a>
                <input id="usuario" name="user" type="text" placeholder="seu user name" [(ngModel)]="userModel.usuario">
            </ul>
            <ul id="emailbtn">
                <a id="title">Email</a>
                <input id="email" name="email" type="email" placeholder="seu email" [(ngModel)]="userModel.email">
            </ul>
            <ul id="senhabtn">
                <a id="title">Senha</a>
                <input id="senha" name="senha" type="password" placeholder="sua senha" [(ngModel)]="userModel.password">
            </ul>
        </div>
    </div>
    <div class="buttonsbtn">
        <button id="botao" (click)="receberDados()" type="button"><a>Cadastrar</a></button>
        <button id="botao2" type="button"><a id="clik" href="">Cancelar</a></button>
        <button id="botao3"  type="button"><a id="clik" href="/tabela">Todos os Cadastros</a></button>
        <button id="botao3" type="button"><a id="clik" href="/atualizar">Atualizar Cadastro</a></button>
    </div>
    <ul class="conp">
        <a id="delet">Deseja deletar um usuário?</a><a id="clique" href="/deletar">Clique aqui!</a>
    </ul>
    <br><br><br><br><br>
</main>

